ConsoleServiceSyncClient/Service References/DMSUtility/DMSUtility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xtime.com/webservices/01/bindings" xmlns:ns2="http://schemas.xtime.com/webservices/01/transport" name="DMSUtility" targetNamespace="http://xtime.com/webservices/01/bindings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://schemas.xtime.com/webservices/01/transport" targetNamespace="http://schemas.xtime.com/webservices/01/transport" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="AddCustomerElement" type="tns:AddCustomer" />
      <xs:element name="CancelAppointmentElement" type="tns:CancelAppointment" />
      <xs:element name="DMSSendRepairOrderStatusesElement" type="tns:DMSSendRepairOrderStatuses" />
      <xs:element name="DmsAddCustomerElement" type="tns:DmsAddCustomer" />
      <xs:element name="DmsCancelAppointmentElement" type="tns:DmsCancelAppointment" />
      <xs:element name="DmsChangeRepairOrderStatusElement" type="tns:DmsChangeRepairOrderStatus" />
      <xs:element name="DmsChangeServerStatusElement" type="tns:DmsChangeServerStatus" />
      <xs:element name="DmsChangeVehicleElement" type="tns:DmsChangeVehicle" />
      <xs:element name="DmsDeleteCustomerElement" type="tns:DmsDeleteCustomer" />
      <xs:element name="DmsGetCommandElement" type="tns:DmsGetCommand" />
      <xs:element name="DmsGetCommandResponseElement" type="tns:DmsGetCommandResponse" />
      <xs:element name="DmsSendAppointmentsElement" type="tns:DmsSendAppointments" />
      <xs:element name="DmsSendCustomerVehiclesElement" type="tns:DmsSendCustomerVehicles" />
      <xs:element name="DmsSendServiceHistoryElement" type="tns:DmsSendServiceHistory" />
      <xs:element name="DmsUpdateCustomerElement" type="tns:DmsUpdateCustomer" />
      <xs:element name="DmsWriteAppointmentElement" type="tns:DmsWriteAppointment" />
      <xs:element name="FindCustomerResponseElement" type="tns:FindCustomerResponse" />
      <xs:element name="GetAdvisorConfigurationElement" type="tns:GetAdvisorConfiguration" />
      <xs:element name="GetAppointmentsElement" type="tns:GetAppointments" />
      <xs:element name="GetCustomerVehiclesElement" type="tns:GetCustomerVehicles" />
      <xs:element name="GetDealerConfigurationElement" type="tns:GetDealerConfiguration" />
      <xs:element name="GetPartsCatalogElement" type="tns:GetPartsCatalog" />
      <xs:element name="GetRepairOrderElement" type="tns:GetRepairOrder" />
      <xs:element name="GetRepairOrderStatusesElement" type="tns:GetRepairOrderStatuses" />
      <xs:element name="GetRepairOrdersElement" type="tns:GetRepairOrders" />
      <xs:element name="GetServiceCatalogElement" type="tns:GetServiceCatalog" />
      <xs:element name="GetServiceHistoryElement" type="tns:GetServiceHistory" />
      <xs:element name="GetVehicleMakesElement" type="tns:GetVehicleMakes" />
      <xs:element name="GetVehicleModelsElement" type="tns:GetVehicleModels" />
      <xs:element name="GetVehicleSalesElement" type="tns:GetVehicleSales" />
      <xs:element name="ResponseElement" type="tns:Response" />
      <xs:element name="UpdateCustomerElement" type="tns:UpdateCustomer" />
      <xs:element name="WriteAppointmentElement" type="tns:WriteAppointment" />
      <xs:element name="WriteRepairOrderElement" type="tns:WriteRepairOrder" />
      <xs:element name="XtimeAddCustomerElement" type="tns:XtimeAddCustomer" />
      <xs:element name="XtimeCancelAppointmentElement" type="tns:XtimeCancelAppointment" />
      <xs:element name="XtimeFindCustomerElement" type="tns:XtimeFindCustomer" />
      <xs:element name="XtimeGetAdvisorConfigurationElement" type="tns:XtimeDealerRequest" />
      <xs:element name="XtimeGetAppointmentsDateRangeElement" type="tns:XtimeDealerRequestDateRange" />
      <xs:element name="XtimeGetCustomerVehiclesDateRangeElement" type="tns:XtimeDealerRequestDateRange" />
      <xs:element name="XtimeGetDealerConfigurationElement" type="tns:XtimeDealerRequest" />
      <xs:element name="XtimeGetPartsCatalogElement" type="tns:XtimeDealerRequest" />
      <xs:element name="XtimeGetRepairOrderElement" type="tns:XtimeGetRepairOrder" />
      <xs:element name="XtimeGetRepairOrderStatusesDateRangeElement" type="tns:XtimeDealerRequestDateRange" />
      <xs:element name="XtimeGetRepairOrdersDateRangeElement" type="tns:XtimeDealerRequestDateRange" />
      <xs:element name="XtimeGetServiceCatalogElement" type="tns:XtimeDealerRequest" />
      <xs:element name="XtimeGetServiceHistoryDateRangeElement" type="tns:XtimeDealerRequestDateRange" />
      <xs:element name="XtimeGetVehicleMakesElement" type="tns:XtimeDealerRequest" />
      <xs:element name="XtimeGetVehicleModelsElement" type="tns:XtimeDealerRequest" />
      <xs:element name="XtimeGetVehicleSalesDateRangeElement" type="tns:XtimeDealerRequestDateRange" />
      <xs:element name="XtimeUpdateCustomerElement" type="tns:XtimeUpdateCustomer" />
      <xs:element name="XtimeWriteAppointmentElement" type="tns:XtimeWriteAppointment" />
      <xs:element name="XtimeWriteRepairOrderElement" type="tns:XtimeWriteRepairOrder" />
      <xs:complexType name="Response">
        <xs:sequence>
          <xs:element form="qualified" name="Success" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:Error" />
          <xs:element form="qualified" name="Description" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="version" type="xs:anySimpleType" />
      </xs:complexType>
      <xs:complexType name="Error">
        <xs:sequence />
        <xs:attribute name="code" type="xs:string" />
        <xs:attribute name="message" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="DmsChangeServerStatus">
        <xs:sequence>
          <xs:element name="DmsServerEnabled" type="xs:string" />
          <xs:element name="DmsName" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="version" type="xs:anySimpleType" />
      </xs:complexType>
      <xs:complexType name="Comment">
        <xs:sequence>
          <xs:element name="CommentDate" type="xs:dateTime" />
          <xs:element name="CommentText" type="xs:string" />
          <xs:element name="CommentAuthor" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vehicle">
        <xs:sequence>
          <xs:element minOccurs="0" name="VehicleId" type="xs:string" />
          <xs:element name="VIN" type="xs:string" />
          <xs:element minOccurs="0" name="License" type="xs:string" />
          <xs:element minOccurs="0" name="Mileage" type="xs:string" />
          <xs:element minOccurs="0" name="Make" type="xs:string" />
          <xs:element minOccurs="0" name="Model" type="xs:string" />
          <xs:element minOccurs="0" name="ModelYear" type="xs:string" />
          <xs:element minOccurs="0" name="StockNum" type="xs:string" />
          <xs:element minOccurs="0" name="SalespersonID" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryDate" type="xs:date" />
          <xs:element minOccurs="0" name="LastServiceDate" type="xs:date" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleComments" type="tns:Comment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelAppointment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="Success">
                <xs:complexType>
                  <xs:sequence />
                  <xs:attribute name="apptId" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:Error" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsDocument" abstract="true">
        <xs:sequence>
          <xs:element name="DealerCode" type="xs:string" />
          <xs:element minOccurs="0" name="RequestId" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentId" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="version" type="xs:anySimpleType" />
      </xs:complexType>
      <xs:complexType name="XtimeWriteRepairOrder">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XtimeDealerRequest">
        <xs:sequence>
          <xs:element name="DealerCode" type="xs:string" />
          <xs:element minOccurs="0" name="RequestId" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="version" type="xs:anySimpleType" />
      </xs:complexType>
      <xs:complexType name="RepairOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoId" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorCode" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorName" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorDept" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorTeam" type="xs:string" />
          <xs:element minOccurs="0" name="HasCustPay" type="xs:string" />
          <xs:element minOccurs="0" name="RoStatusCode" type="xs:string" />
          <xs:element name="RoStatusCodeDescription" type="xs:string" />
          <xs:element minOccurs="0" name="OpenDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PromisedDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="BookedDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ApptDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ApptId" type="xs:string" />
          <xs:element minOccurs="0" name="CloseDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PrintDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LaborCost" type="xs:string" />
          <xs:element minOccurs="0" name="LaborSale" type="xs:string" />
          <xs:element minOccurs="0" name="MiscCost" type="xs:string" />
          <xs:element minOccurs="0" name="MiscSale" type="xs:string" />
          <xs:element minOccurs="0" name="PartsCost" type="xs:string" />
          <xs:element minOccurs="0" name="PartsSale" type="xs:string" />
          <xs:element minOccurs="0" name="RoSaleCP" type="xs:string" />
          <xs:element minOccurs="0" name="RoSaleWP" type="xs:string" />
          <xs:element minOccurs="0" name="RoSaleIP" type="xs:string" />
          <xs:element minOccurs="0" name="SoldHours" type="xs:string" />
          <xs:element minOccurs="0" name="Comments" type="xs:string" />
          <xs:element name="Customer" type="tns:Customer" />
          <xs:element name="Vehicle" type="tns:Vehicle" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrderLaborOp" type="tns:RepairOrderLaborOp" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrderPart" type="tns:RepairOrderPart" />
          <xs:element minOccurs="0" name="TeamCode" type="xs:string" />
          <xs:element minOccurs="0" name="TransportationType" type="xs:string" />
          <xs:element minOccurs="0" name="Dispatcher" type="xs:string" />
          <xs:element minOccurs="0" name="Department" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Customer">
        <xs:sequence>
          <xs:element name="CustomerId" type="xs:string" />
          <xs:element name="CustomerType" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessName" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="OtherName" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhone" type="xs:string" />
          <xs:element minOccurs="0" name="HomePhone" type="xs:string" />
          <xs:element minOccurs="0" name="WorkPhone" type="xs:string" />
          <xs:element minOccurs="0" name="Email" type="xs:string" />
          <xs:element minOccurs="0" name="Address1" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" type="xs:string" />
          <xs:element minOccurs="0" name="City" type="xs:string" />
          <xs:element minOccurs="0" name="StateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" type="xs:string" />
          <xs:element minOccurs="0" name="Country" type="xs:string" />
          <xs:element minOccurs="0" name="PrivacyFlags" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerComments" type="tns:Comment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RepairOrderLaborOp">
        <xs:sequence>
          <xs:element minOccurs="0" name="LopSequenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="LaborType" type="xs:string" />
          <xs:element minOccurs="0" name="OpCode" type="xs:string" />
          <xs:element minOccurs="0" name="OpDescription" type="xs:string" />
          <xs:element minOccurs="0" name="Complaint" type="xs:string" />
          <xs:element minOccurs="0" name="Cause" type="xs:string" />
          <xs:element minOccurs="0" name="Correction" type="xs:string" />
          <xs:element minOccurs="0" name="DispatchCode" type="xs:string" />
          <xs:element minOccurs="0" name="TechnicianNumber" type="xs:string" />
          <xs:element minOccurs="0" name="LaborCost" type="xs:string" />
          <xs:element name="LaborSale" type="xs:string" />
          <xs:element minOccurs="0" name="ActualHours" type="xs:string" />
          <xs:element minOccurs="0" name="SoldHours" type="xs:string" />
          <xs:element minOccurs="0" name="PartsCost" type="xs:string" />
          <xs:element minOccurs="0" name="PartsSale" type="xs:string" />
          <xs:element minOccurs="0" name="MiscCost" type="xs:string" />
          <xs:element minOccurs="0" name="MiscSale" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RepairOrderPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="LopSequenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="PartSequenceNumber" type="xs:string" />
          <xs:element name="PartNumber" type="xs:string" />
          <xs:element minOccurs="0" name="Description" type="xs:string" />
          <xs:element minOccurs="0" name="Cost" type="xs:string" />
          <xs:element minOccurs="0" name="QuantitySold" type="xs:string" />
          <xs:element minOccurs="0" name="SalePrice" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="XtimeFindCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="CustomerQuery" type="tns:CustomerQuery" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CustomerQuery">
        <xs:sequence>
          <xs:element name="SearchType" type="xs:string" />
          <xs:element name="SearchParameter" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVehicleModels">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="VehicleModel" type="tns:VehicleModel" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="VehicleModel">
        <xs:sequence>
          <xs:element name="MakeCode" type="xs:string" />
          <xs:element minOccurs="0" name="ModelCode" type="xs:string" />
          <xs:element minOccurs="0" name="ModelCodeDescription" type="xs:string" />
          <xs:element minOccurs="0" name="ModelLine" type="xs:string" />
          <xs:element minOccurs="0" name="ModelLineDescription" type="xs:string" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DmsGetCommand">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FindCustomerResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" type="tns:Customer" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetRepairOrderStatuses">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetAdvisorConfiguration">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvisorConfig" type="tns:AdvisorConfig" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdvisorConfig">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdvisorName" type="xs:string" />
          <xs:element name="AdvisorCode" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorEmail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetServiceCatalog">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Opcode" type="tns:Opcode" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Opcode">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
          <xs:element minOccurs="0" name="Make" type="xs:string" />
          <xs:element minOccurs="0" name="Model" type="xs:string" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
          <xs:element minOccurs="0" name="Duration" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" type="xs:string" />
          <xs:element minOccurs="0" name="Cause" type="xs:string" />
          <xs:element minOccurs="0" name="Correction" type="xs:string" />
          <xs:element minOccurs="0" name="Complaint" type="xs:string" />
          <xs:element minOccurs="0" name="DispatchCode" type="xs:string" />
          <xs:element minOccurs="0" name="LaborType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="XtimeGetRepairOrder">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsUpdateCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsChangeCustomer">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsChangeCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element name="Customer" type="tns:Customer" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetDealerConfiguration">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="DealerConfig" type="tns:DealerConfig" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DealerConfig">
        <xs:sequence>
          <xs:element name="DealerName" type="xs:string" />
          <xs:element minOccurs="0" name="DmsId" type="xs:string" />
          <xs:element minOccurs="0" name="DmsAccount" type="xs:string" />
          <xs:element minOccurs="0" name="DmsIp" type="xs:string" />
          <xs:element minOccurs="0" name="Address1" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" type="xs:string" />
          <xs:element minOccurs="0" name="City" type="xs:string" />
          <xs:element minOccurs="0" name="StateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" type="xs:string" />
          <xs:element minOccurs="0" name="Country" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceEmail" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" type="xs:string" />
          <xs:element minOccurs="0" name="Hours" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" type="xs:string" />
          <xs:element minOccurs="0" name="DefaultLocale" type="xs:string" />
          <xs:element minOccurs="0" name="Website" type="xs:string" />
          <xs:element minOccurs="0" name="ModUser" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DmsCancelAppointment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element name="AppointmentId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XtimeCancelAppointment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="ApptId" type="xs:string" />
              <xs:element minOccurs="0" name="ApptDate" type="xs:date" />
              <xs:element minOccurs="0" name="ApptTime" type="xs:time" />
              <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
              <xs:element minOccurs="0" name="VIN" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsSendServiceHistory">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetPartsCatalog">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XtimeAddCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="Customer" type="tns:Customer" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetCustomerVehicles">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:CustomerVehicleChanges">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CustomerVehicleChanges">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerVehicles" type="tns:CustomerVehicles" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CustomerVehicles">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Customer">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" type="tns:Vehicle" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XtimeDealerRequestDateRange">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsChangeRepairOrderStatus">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetAppointments">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" type="tns:Appointment" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Appointment">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppointmentId" type="xs:string" />
          <xs:element name="Customer" type="tns:Customer" />
          <xs:element minOccurs="0" name="Vehicle" type="tns:Vehicle" />
          <xs:element minOccurs="0" name="AdvisorCode" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorName" type="xs:string" />
          <xs:element name="AppointmentDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastRoNumber" type="xs:string" />
          <xs:element minOccurs="0" name="LastRoDate" type="xs:date" />
          <xs:element minOccurs="0" name="LastRoMileage" type="xs:string" />
          <xs:element minOccurs="0" name="PromisedDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AppointmentComments" type="xs:string" />
          <xs:element minOccurs="0" name="TeamCode" type="xs:string" />
          <xs:element minOccurs="0" name="TransportationType" type="xs:string" />
          <xs:element minOccurs="0" name="Dispatcher" type="xs:string" />
          <xs:element minOccurs="0" name="Department" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="AppointmentJob" type="tns:AppointmentJob" />
          <xs:element name="AppointmentTaker" type="xs:string" />
          <xs:element minOccurs="0" name="ConfirmationKey" type="xs:string" />
          <xs:element minOccurs="0" name="PlacedMethod" type="xs:string" />
          <xs:element minOccurs="0" name="AllowWriteRO" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppointmentJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="LopSequenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="OpCode" type="xs:string" />
          <xs:element minOccurs="0" name="OpDescription" type="xs:string" />
          <xs:element minOccurs="0" name="LaborType" type="xs:string" />
          <xs:element minOccurs="0" name="Complaint" type="xs:string" />
          <xs:element minOccurs="0" name="EstimatedPrice" type="xs:string" />
          <xs:element minOccurs="0" name="EstimatedHours" type="xs:string" />
          <xs:element minOccurs="0" name="OpPriority" type="xs:string" />
          <xs:element minOccurs="0" name="DispatchCode" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" type="xs:string" />
          <xs:element minOccurs="0" name="MenuType" type="xs:string" />
          <xs:element minOccurs="0" name="RecommendedMileage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetRepairOrders">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsDeleteCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element name="CustomerId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="VehicleMake">
        <xs:sequence>
          <xs:element name="MakeCode" type="xs:string" />
          <xs:element minOccurs="0" name="MakeDescription" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AddCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ChangeCustomer">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ChangeCustomer">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetVehicleMakes">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="VehicleMake" type="tns:VehicleMake" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsSendCustomerVehicles">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerVehicles" type="tns:CustomerVehicles" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetVehicleSales">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:CustomerVehicleChanges">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetServiceHistory">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsChangeVehicle">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element name="CustomerVehicles" type="tns:CustomerVehicles" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XtimeUpdateCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="Customer" type="tns:Customer" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="WriteAppointment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="ApptId" type="xs:string" />
              <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetRepairOrder">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XtimeWriteAppointment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:XtimeDealerRequest">
            <xs:sequence>
              <xs:element name="Appointment" type="tns:Appointment" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsAddCustomer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsChangeCustomer">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsSendAppointments">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" type="tns:Appointment" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsGetCommandResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Response">
            <xs:sequence>
              <xs:element minOccurs="0" name="WriteAppointment" type="tns:XtimeWriteAppointment" />
              <xs:element minOccurs="0" name="CancelAppointment" type="tns:XtimeCancelAppointment" />
              <xs:element minOccurs="0" name="AddCustomer" type="tns:XtimeAddCustomer" />
              <xs:element minOccurs="0" name="UpdateCustomer" type="tns:XtimeUpdateCustomer" />
              <xs:element minOccurs="0" name="FindCustomer" type="tns:XtimeFindCustomer" />
              <xs:element minOccurs="0" name="GetAdvisorConfig" type="tns:XtimeDealerRequest" />
              <xs:element minOccurs="0" name="GetAppointments" type="tns:XtimeDealerRequestDateRange" />
              <xs:element minOccurs="0" name="GetCustomerVehicles" type="tns:XtimeDealerRequestDateRange" />
              <xs:element minOccurs="0" name="GetServiceHistory" type="tns:XtimeDealerRequestDateRange" />
              <xs:element minOccurs="0" name="GetStatuses" type="tns:XtimeDealerRequestDateRange" />
              <xs:element minOccurs="0" name="GetVehicleSales" type="tns:XtimeDealerRequestDateRange" />
              <xs:element minOccurs="0" name="GetServiceCatalog" type="tns:XtimeDealerRequest" />
              <xs:element minOccurs="0" name="GetDealerConfig" type="tns:XtimeDealerRequest" />
              <xs:element minOccurs="0" name="GetPartsCatalog" type="tns:XtimeDealerRequest" />
              <xs:element minOccurs="0" name="WriteRepairOrder" type="tns:XtimeWriteRepairOrder" />
              <xs:element minOccurs="0" name="GetRepairOrder" type="tns:XtimeGetRepairOrder" />
              <xs:element minOccurs="0" name="GetRepairOrders" type="tns:XtimeDealerRequestDateRange" />
              <xs:element minOccurs="0" name="GetVehicleMakes" type="tns:XtimeDealerRequest" />
              <xs:element minOccurs="0" name="GetVehicleModels" type="tns:XtimeDealerRequest" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="WriteRepairOrder">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="RepairOrderId" type="xs:string" />
              <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DmsWriteAppointment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element name="Appointment" type="tns:Appointment" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DMSSendRepairOrderStatuses">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:DmsDocument">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairOrder" type="tns:RepairOrder" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="DmsChangeServerStatusResponse">
    <wsdl:part name="Response" element="ns2:ResponseElement" />
  </wsdl:message>
  <wsdl:message name="DmsPingResponse">
    <wsdl:part name="Response" element="ns2:ResponseElement" />
  </wsdl:message>
  <wsdl:message name="DmsPing" />
  <wsdl:message name="DmsChangeServerStatus">
    <wsdl:part name="DmsChangeServerStatus" element="ns2:DmsChangeServerStatusElement" />
  </wsdl:message>
  <wsdl:portType name="DMSUtility">
    <wsdl:operation name="DmsPing">
      <wsdl:input name="DmsPing" message="ns1:DmsPing" />
      <wsdl:output name="DmsPingResponse" message="ns1:DmsPingResponse" />
    </wsdl:operation>
    <wsdl:operation name="DmsChangeServerStatus">
      <wsdl:input name="DmsChangeServerStatus" message="ns1:DmsChangeServerStatus" />
      <wsdl:output name="DmsChangeServerStatusResponse" message="ns1:DmsChangeServerStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>